footer {
    padding: 5rem 2rem;
    div {
        justify-content: center;
        .tituloFooter {
            @include titulos ($tipografiaTitulos, left,20px);
            margin-right: 3rem;
        }
        .contenedorRedes {
            display: flex;
            flex-direction: column;
            a{
                color: black;
                font-size: 35px;
            }
        }
    }
}