@media only screen and (max-width: 600px) {
    main {
        #contenedorProductos {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            padding: 1rem;
            .flip-card {
                margin: 0 auto;
                @include tamano (180px, 180px);
                .flip-card-inner {
                    .flip-card-front {
                        img {
                            @include tamano (100%, 100%);
                        }
                    }
                    .flip-card-back{
                        .tituloCard {
                            font-size: 18px;
                        }
                        button {
                            padding: 0.1rem;
                            width: 145px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}