main {
    section {
        .tituloFormulario {
            @include titulos ($tipografiaTitulos, center, 25px)
        }
        .formularioContacto {
            padding: 2rem 12rem;
            gap: 30px;
            display: grid;
            grid-template-areas: 
                                "nombre apellido"
                                "mail telefono"
                                "consulta consulta"
                                "enviar enviar";
            .inputNombre {
                grid-area: nombre;
            }
            .inputApellido {
                grid-area: apellido;
            }
            .inputMail {
                grid-area: mail;
            }
            .inputTelefono {
                grid-area: telefono;
            }
            .textArea {
                grid-area: consulta;
            }
            .inputSubmit {
                grid-area: enviar;
                margin: 0 auto;
                width: 200px;
                background-color: $colorSecundario;
                padding: 1rem;
                border: none;
                color:white;
                border-radius: 10px;
                &:hover {
                    background-color: $colorTerciario;
                }
            }
            input, textarea {
                border: none;
                padding: 1rem;
                border-radius: 10px;
                font-size: 18px;
                font-family: $tipografiaTextos;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}