aside {
    div {
        div {
            table {
                thead {
                    .tituloTabla {
                        text-align: center;
                    }
                }
                #carritoOffcanvas {
                    .tablaProductos {
                        height: 5rem;
                        td{
                            width: 200px;
                            img {
                                width: 85%;
                            }
                        }
                        .infoProducto {
                            font-size: 15px;
                            text-align: center;
                        }
                        .eliminarProducto {
                            font-size: 22px;
                            color: $colorPrincipal;
                            height: 10px;
                            .deleteIconify{
                                border: 1px solid $colorPrincipal;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .botonComprar {
            background-color: $colorPrincipal;
            padding: 0.8rem 2rem;
            border-radius: 4px;
            border: none;
            width:fit-content;
            color: white;
            &:hover{
                background-color: #d64b3c;
            }
        }
    }
}